{% comment %} 모든 프로젝트에 적용되게 하기 위해 crud에 만들어줌 {% endcomment %}
{% load static %}


<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'base.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon-96x96.png' %}" type="image/x-icon">
</head>
<body>
  {% block body %}
  {% endblock body %}
</body>
</html>